* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

#input-area {
    margin-bottom: 20px;
    width: 600px;
}

#http-headers-area {
    padding: 20px;
}

#robots-content-area {
    padding: 20px;
    padding-top: 0;
}

#http-headers-area .collapse, #robots-content-area .collapse {
    padding-top: 5px;
}

.result-status-ok {
    background-color: #b2dba1;
}

.result-status-err {
    background-color: lightcoral;
}
